/* CSS Variables */

:root {
  --main-color: #e3e2df;
  --second-color: #000000;
  --third-color: #b3326a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--main-color);
  z-index: 1;
  transition: 0.5s;
  border-bottom: 3px solid var(--third-color);
}

header.scroll {
  position: fixed;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--main-color);
  z-index: 1;
  transition: 0.5s;
}

.logo {
  position: absolute;
  left: 7%;
  bottom: 1rem;
  font-size: 3.5rem;
  color: var(--second-color);
  font-family: "Pinyon Script", cursive;
}

nav {
  position: absolute;
  left: 20%;
  bottom: 1rem;
  width: 70%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: var(--second-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--second-color);
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Home  */
.one {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  background-image: url(/images/hero.jpg);
  background-size: cover;
}

.container {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 60%;
}

h1 {
  margin-bottom: 1rem;
  color: var(--third-color);
  font-size: 1.5rem;
}

.one .container p {
  color: var(--main-color);
  font-size: 13px;
}

/* .two {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--third-color);
} */

/* About */
.about-section {
  background-color: var(--third-color);
  margin-top: 5em;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  background-color: rgb(67, 94, 151);
}

.about-section .about-text {
  max-width: 60%;
  padding-top: 4em;
  padding-bottom: 3em;
  justify-content: center;
  align-content: center;
  margin: auto;
  line-height: 2em;
  font-size: 1.1em;
  color: var(--main-color);
}

/* Image Gallery */
.image-gallery {
  background-color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.single-image {
  padding: 0 20px 20px;
  justify-content: space-between;
}

.gall-image {
  width: 500px;
  border-radius: 5px;
}

.gall-image:hover {
  opacity: 0.6;
  transition: 0.9s;
}

/* Contact Form */

.form-container {
  margin: auto;
  min-height: 100vh;
  margin-top: 6rem;
  padding-top: 6rem;
  background-color: rgb(67, 94, 151);
  border-bottom: 3px solid var(--third-color);
}

.contact-heading {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 4em;
  padding-bottom: 10px;
}

input,
textarea {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 270px;
  background-color: rgb(67, 94, 151);
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  color: var(--main-color);
}

.contact-submit-button {
  margin: 20px auto;
  display: block;
  padding: 10px;
  background-color: rgb(67, 94, 151);
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 5px;
  width: 270px;
}

#contact-message {
  height: 100px;
}

@media screen and (max-width: 500px) {
  nav {
    position: absolute;
    left: 17%;
    bottom: 1rem;
    width: 80%;
  }

  nav ul li a {
    font-size: 12px;
  }

  .form-container {
    padding-top: 2.5em;
  }
  .about-section .about-text {
    font-size: 14px;
  }

  .gall-image {
    width: 100%;
  }
}
