/* CSS Variables */

:root {
  --main-color: #e3e2df;
  --second-color: #000000;
  --third-color: #e3e2df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--main-color);
  z-index: 1;
  transition: 0.5s;
}

header.scroll {
  position: fixed;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--main-color);
  z-index: 1;
  transition: 0.5s;
}

.logo {
  position: absolute;
  left: 7%;
  bottom: 1rem;
  font-size: 3.5rem;
  color: var(--second-color);
  font-family: "Pinyon Script", cursive;
  text-shadow: 0.5px 0.5px var(--third-color);
}

nav {
  position: absolute;
  left: 20%;
  bottom: 1rem;
  width: 70%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: var(--second-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--second-color);
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Home  */
.one {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  background-image: url(/images/sosexy.jpg);
  background-size: cover;
  margin-top: 20px;
}

.container {
  position: absolute;
  left: 10%;
  top: 30%;
  max-width: 80%;
}

h1 {
  margin-bottom: 1rem;
  color: var(--third-color);
  font-size: 2rem;
  font-weight: lighter;
  /* text-shadow: 1px 1.2px var(--second-color); */
}

.one .container p,
.two .container p {
  color: var(--main-color);
  font-size: 19px;
  /* text-shadow: 1px 1.2px var(--second-color); */
}

.two {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  background-image: url(/images/gall-image-4.jpg);
  background-size: cover;
  border-top: 5px solid var(--main-color);
}

.two .container p {
  color: var(--main-color);
  /* text-shadow: 0.5px 0.5px var(--second-color); */
}

.two .container h1 {
  /* text-shadow: 0.5px 0.5px var(--second-color); */
}

/* About */
.about-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding-top: 30px;
}

.about-section {
  background: url(/images/gall-image-3.jpg) no-repeat left;
  background-size: 55%;
  background-color: var(--main-color);
  overflow: hidden;
  padding: 100px 0;
  margin-left: 50px;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: var(--main-color);
  padding: 150px;
  border-radius: 5px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  border-bottom: 2px solid black;
  color: var(--second-color);
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  text-shadow: 0.5px 1.5px var(--third-color);
}

/* End about section */

.two {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--third-color);
}

/* Image Gallery */
.image-gallery {
  background-color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.single-image {
  padding: 0 20px 20px;
  justify-content: space-between;
}

.gall-image {
  width: 500px;
  border-radius: 5px;
}

.gall-image:hover {
  opacity: 0.9;
  transition: 0.5s;
}

/* Contact Form */

.form-container {
  background-image: url(/images/gall-image-4.jpg);
  background-size: cover;
  overflow: hidden;
  margin: auto;
  min-height: 100vh;
  margin-top: 5rem;
  padding-top: 6rem;
  border-bottom: 3px solid var(--third-color);
}

.contact-heading {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 40px;
  font-weight: 7em;
  padding-bottom: 10px;
}

input,
textarea {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 270px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 5px;
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  color: var(--main-color);
}

.contact-submit-button {
  margin: 30px auto;
  display: block;
  text-transform: uppercase;
  background-color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  text-align: center;
  border-radius: 5px;
  width: 270px;
  font-size: 30px;
}

.contact-submit-button:hover,
textarea:hover,
input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#contact-message {
  height: 100px;
}

/* Navbar */
@media screen and (max-width: 500px) {
  nav {
    position: absolute;
    left: 17%;
    bottom: 1rem;
    width: 80%;
  }

  nav ul li a {
    font-size: 12px;
  }
}

/* About Section */
@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-body {
    padding: 0;
  }
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }

  .inner-container {
    padding: 50px;
    margin-top: 50px;
  }

  .form-container {
    padding-top: 3.65rem;
  }
}
